
body{
    margin: 0;
    padding: 0;
    background-image:linear-gradient( rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.699), rgb(5, 27, 48), rgb(5, 27, 48)), url('../Assets/Fundo-introducao.jpg');
  background-repeat:repeat-x;
  background-attachment:local;
  background-position:top;
  background-size:contain;
  background-color: #051B30;
  
}

/*Scroll Na parte direita do Site --*/

::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background-color: #051B30;
}

::-webkit-scrollbar-track{
    background-color: #051B30;
}

::-webkit-scrollbar-thumb{
    background-color: #7a7a7a;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(185, 185, 185);
}

::-webkit-scrollbar-button{
    color: #7a7a7a;
}

/*Cabecalho*/
.cabecalho{
    display: flex;
    letter-spacing: normal;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.cabecalho nav{
    display: flex;
    letter-spacing: normal;
    justify-content: center;
}

.flex1{
    flex:1;
}

.flex3{
    flex: 3;
}

.nav-item{
    font-size: 25px;
    padding-right: 1.25rem;
    color: #FFF;
    text-decoration: none;
    font-weight: 300;
    

}
.cabecalho-div img{
    height: 27px;
    display: flexbox;
    align-items: center;
    
}
.cabecalho-div a {
    font-size: 25px;
    padding-right: 1.25rem;
    color: #FFF;
    text-decoration: none;
    font-weight: 300;
}
.imagens {
    display: flex;
    justify-content: end;
    margin-right: 6.7%;
    
}
.imagens img{
    height: 27px;
    margin-right: 0.5%;
    margin-top: -1%;   
}



/* Página Principal*/
.introducao{
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-introducao{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-introducao h2{
    color: #FFF;
    font-weight: 300;
}

.div-introducao button{
    padding: 8px 20px;
    border: none;
    background-color: #E3402A;
    color: #FFF;
    border-radius: 1px;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 13px;
    margin-top: 10px;
}

.div-introducao button:hover{
    background-color: #d1341f;
}

.historia{
    display: flex;
    background-color: #051B30;
    justify-content: center;
}

.div-historia{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-historia img{
    height: 30px;
    margin: 15px 15px;
}

.div-historia h2{
    color: #FFF;
    font-weight: 600;
    font-style: italic;
}

.div-historia p{
    text-align: center;
    color: #FFF;
    width: 700px;
    font-weight: 400;
}

.servicos{
    height: 630px;
    background-image: url('../Assets/Fundo-servicos.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.div-servicos{
    background-color: #E3402A;
    height: 520px;
    width: 430px;
    padding: 15px;
    border-radius: 5px;

}

.div-servicos img{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-servicos h2{
    color: #FFF;
    font-weight: 600;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 13px;
    margin-bottom: 25px;
}

.descricao{
    display: flex;
    align-items: center;
    color: #FFF;
    justify-content: space-between;
    margin: 0px 25px;
}

.descricao h4{
    font-weight: 300;
}


.descricao h3{
    font-weight: 500;
    font-size: 20px;
}

.descricao img{
    height: 25px;
}

.servico1 p{
    margin-left: 25px;
}

.servico1{
    margin-bottom: 35px;
}

.agendamento{
    height: 1000px;
    display: flex;
    justify-content:space-between;
}

.div-agendamento{
    margin:60px;
    color: #FFF;
    width: 50%;

}

.div-agendamento h2{
    font-style: italic;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 45px;
}

.div-agendamento h4{
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 30px;
    margin-left: 20px
}

.div-agendamento img{
    height: 400px;
    padding: 20px;
}

.div-agendamento-descricao{
    margin:80px;
    color: #FFF;
    font-weight: 400;
    margin-top: 20%;
    max-width: 25%;
    text-align: end;
}

.div-agendamento-descricao h2{
    margin-bottom: 0.5em;
    font-size: 45px;
    font-style: italic;
}

.div-agendamento-descricao img{
    z-index: 99;
    width: 40px;
}

.div-agendamento-descricao p{
    font-size: 18px;
    font-weight: 400;
}

.div-agendamento-descricao button{
    background-color: #E3402A;
    padding: 13px 28px;
    border: none;
    background-color: #E3402A;
    color: #FFF;
    border-radius: 2px;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 13px;
    margin-top: 10px;
}

.div-agendamento-descricao button:hover{
    background-color: #d1341f;
}

.portfolio{
    height: 1000px;
    display: flex;
    justify-content:space-between;
}

.div-portfolio{
    color: #FFF;
    width: 50%;

}

.div-portfolio h2{
    font-style: italic;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 45px;
}

.div-portfolio h4{
    font-weight: 400;
    font-size: 20px;
}

.div-portfolio img{
    height: 400px;
    padding: 20px;
    
}

.div-portfolio-descricao{
    margin:80px;
    color: #FFF;
    font-weight: 400;
    margin-top: 13%;
    width: 50%;
}

.div-portfolio-descricao img{
    width: 40px;
}

.div-portfolio-descricao h2{
    margin-bottom: 0.5em;
    font-size: 45px;
    font-style: italic;
}

.div-portfolio-descricao p{
    font-size: 18px;
    font-weight: 400;
    max-width: 75%;
}

.div-portfolio-descricao button{
    background-color: #E3402A;
    padding: 13px 28px;
    border: none;
    background-color: #E3402A;
    color: #FFF;
    border-radius: 2px;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 13px;
    margin-top: 10px;
}

.div-portfolio-descricao button:hover{
    background-color: #d1341f;
}


/* -- UTILIZAR O MEDIA SCREEN PARA FAZER A RESPONSIVIDADE*/
@media screen and (max-width:450px) {
    body{
        background-image:linear-gradient( rgba(255, 255, 255, 0),#051B30, #051B30), url('../Assets/Fundo-mobile.png');
  background-repeat:no-repeat;
  background-attachment:local;
  background-size:contain;
  background-color: #051B30;
    }

    .introducao{
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .div-introducao{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .div-introducao h2{
        font-size: 19px;
    }

    .div-introducao button{
        font-size: 15px;
    }
  
    .div-historia{
        margin-top: 50px;
    }
    
    .div-historia img{
        height: 25px;
        margin: 15px 15px;
    }
    
    .div-historia h2{
        color: #FFF;
        font-weight: 600;
        font-style: italic;
    }
    
    .div-historia p{
        color: #FFF;
        width: 300px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 5em;
    }
    
    .servicos{
        height: 500px;
    }

    .div-servicos{
        background:#000000b0;
        height: 500px;
    }
}
/*Rodapé Apenas abaixo*/


.rodape{
    height: 222px;
    background-color: #051B30;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;
}

.rodape-background{
    align-items: center;
    gap: 200px;
    display: flex;    
}

.texto-footer{
    font-family: "Inter", sans-serif;
    align-content: center;
    font-weight: 300;
    font-size: 19px;
    color: #FFF;
}

.icone{
    height: 32px;
}

.div-imagem-email{
    background-color: #051B30;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    position: absolute;
    margin-top: 86px;
    margin-left: 795px;
}

.div-imagem-mapa{
    background-color: #051B30;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    position: absolute;
    margin-top: 86px;
    margin-left: 379px;
}

.div-imagem-celular{
    background-color: #051B30;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    position: absolute;
    margin-top: 86px;
    margin-left: 1259px;
}