
body {
    font-family: 'Inter', sans-serif;
        background-image: linear-gradient(#051b3000,#0d0d0e36,#11111198, #051b30,#051B30), url('Imagens/Img/BackGround.jpg');
        background-size: cover; 
        background-position: center;
}

/* Agendamento CSS*/

.SectionAgendamento{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50rem;
    
}

.container {
    display: flex;
    justify-content: space-between;
    background-color: #051B30;
    border-radius: 0.5rem;
    padding: 3rem;
}


.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    transition: .3s;
}

.agendamentoForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    transition: .3s;
}

.form-group {
    margin-bottom: 20px; 
}

label {
    display: block; 
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 10px;
    font-weight: 300;
}

input[type="text"] {
    border: none; 
    border-radius: 5px; 
    padding: 0.6rem; 
    font-size: 16px;
    width: 30rem;
    background-color: #d6d6d6;
}

input:focus{
    border: none;
    outline: none;
}

select:focus{
    border: none;
    outline: none;
}


input[type="tel"] {
    border: none; 
    border-radius: 5px; 
    padding: 0.6rem; 
    font-size: 16px;
    width: 30rem;
    background-color: #d6d6d6;
}

.BtnAgendamento{
    display: flex;
    align-items: center;
    justify-content: space-around;


}

button  {
    padding: 0.8rem 1.25rem;
    margin: 0 1rem;
    border: none;
    background-color: #E3402A;
    color: #FFF;
    border-radius: 3px;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 13px;
    transition: .2s;
}

button:hover{
    transition: .2s;
    background-color: #b92a18;
    transform: scale(1.1);
}
   
select {
    border: none; 
    border-radius: 5px; 
    padding: 0.6rem; 
    font-size: 16px;
    width: 30rem;
    background-color: #d6d6d6;
    cursor: pointer;
  }
  

.form-container h2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    padding-bottom: 2rem;
}


.historico-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%; 
    background-color: #051B30;
}

.historico-container h2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    padding-bottom: 2rem;
}
.quadrado-branco {
    background-color: white;
    padding: 20px;
    max-width: 100%; 
    margin: 0 auto; 
    height: 100%;
    border-radius: 0.5rem;
    width: 100%;

}


/* -- Rodape*/





.rodape {
    background-color: #051B30;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
    
}
    


.rodape-background{
    align-items: center;
    display: flex;
    width: fit-content;
    align-content: center;
    margin-left: 6rem;
    margin: auto;
    
    
}
.texto-footer{
    font-family: "Inter", sans-serif;
    align-content: center;
    font-weight: 300;
    font-size: 1.2rem;
    color: #FFF;
}

.icone{
    height: 2rem;
    width: fit-content;
    margin-bottom: 1rem;
}

.div-imagem{
    background-color: #051B30;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: center;
    justify-content: center;
    margin-top: 1rem;
}

.div-email{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: center;
    justify-content: center;
    margin-top: 1rem;
    padding: 12.5rem;
    
}

.div-email img{
    padding-right: 1rem;
}

.div-imagem img{
    padding-right: 1rem;
}

.div-imagem a{
    text-decoration: none-;
    padding-bottom: 0.9rem;
}

/*Rodapé Apenas abaixo*/


.rodape{
    height: 13.9rem;
    background-color: #051B30;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
}

.rodape-background{
    align-items: center;
    display: flex;
    width: fit-content;
    align-content: baseline;
    margin-left: 6rem;
    margin: auto;   
}
.texto-footer{
    font-family: "Inter", sans-serif;
    align-content: center;
    font-weight: 300;
    font-size: 1.2rem;
    color: #FFF;
}

.div-imagem-mapa{
    background-color: #051B30;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: center;
    justify-content: center;
    margin-top: 1rem;
}

.div-imagem{
    background-color: #051B30;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: center;
    justify-content: center;
    margin-top: 1rem;
}

.div-email{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: center;
    justify-content: center;
    margin-top: 1rem;
    padding: 3.5rem;
}

.div-email img{
    padding-right: 1rem;
}

.div-imagem img{
    padding-right: 1rem;
}

.div-imagem a{
    text-decoration: none-;
    padding-bottom: 0.9rem;
}

.div-imagem-icones{
    background-color: #051B30;
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
    align-items: center;
    position: center;
    justify-content: center;
    margin-top: 1rem;
}

.div-imagem-icones img{
    padding-right: 1rem;
}

.div-imagem-icones a{
    text-decoration: none-;
    padding-bottom: 0.9rem;
}

.icone-chat{
    height: 2rem;
    width: fit-content;
    margin-bottom: 1.3rem;
    margin-left: 4.5rem;    
}

.icone-insta{
    height: 2rem;
    width: fit-content;
    margin-bottom: 1.3rem;
    gap: 0.1rem;
}

.icone{
    height: 2rem;
    width: fit-content;
    margin-bottom: 1.3rem;
}

.rodape-copyright{
    background-color: #051B30;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.container li{
    background-color: #051B30;
    padding: 1rem;
    color: #ffffff;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

@media screen and (min-width:1100px) and (max-width: 1550px) {
    input[type="text"] {
        border: none;
        border-radius: 5px;
        padding: 0.6rem;
        font-size: 16px;
        width: 20rem;
        background-color: #d6d6d6;
    }

    input[type="tel"] {
        border: none;
        border-radius: 5px;
        padding: 0.6rem;
        font-size: 16px;
        width: 20rem;
        background-color: #d6d6d6;
    }

    select {
        border: none;
        border-radius: 5px;
        padding: 0.6rem;
        font-size: 16px;
        width: 20rem;
        background-color: #d6d6d6;
        cursor: pointer;
    }

    button {
        padding: 0.8rem 1rem;
        margin: 0 1rem;
        border: none;
        background-color: #E3402A;
        color: #FFF;
        border-radius: 3px;
        letter-spacing: 2px;
        font-weight: 300;
        font-size: 13px;
        transition: .2s;
    }

    .form-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 70%;
    }

    .historico-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 70%;
        background-color: #051B30;
    }
}

@media screen and (max-width: 1100px) {

    .body-Agendamento {
        font-family: 'Inter', sans-serif;
        background-image:linear-gradient(rgba(255, 255, 255, 0),#051b3062, #051B30 80%), url('../Assets/Fundo-mobile.png');
        background-repeat:no-repeat;
        background-attachment:local;
        background-position: top;
        background-size:100%;
    }

    .SectionAgendamento{
        height: 130%;
        padding-top: 5rem;
}

    .container {
        flex-direction: column;
        width: 90%;
        padding: 0;
        max-width: 100%;
        padding-top: 2rem;
        margin-bottom: 5rem;
    }

    .form-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    input[type="text"] {
        border: none;
        border-radius: 5px;
        padding: 0.6rem;
        font-size: 16px;
        width: 100%;
        background-color: #d6d6d6;
    }

    input[type="tel"] {
        border: none;
        border-radius: 5px;
        padding: 0.6rem;
        font-size: 16px;
        width: 100%;
        background-color: #d6d6d6;
    }

    select {
        border: none;
        border-radius: 5px;
        padding: 0.6rem;
        font-size: 16px;
        width: 100%;
        background-color: #d6d6d6;
        cursor: pointer;
    }

    .form-container h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
        font-weight: 600;
        padding-bottom: 2rem;
    }

    .form-group{
        width: 90%;
    }

    .historico-container{
        padding-top: 2rem;
        width: 100%;
    }

    .quadrado-branco{
        width: 90%;
        margin-bottom: 2rem;
    }
}




.texto-footer {
    font-size: 14px; 
    margin-bottom: 10px;
    
}

.rodape {
    padding: 20px; 
}

.div-email {
    margin-bottom: 50px;
}

.div-imagem p {
    margin-top: 90px;
} 



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 50px;
    height: 10rem;
}

.dropdown-content option {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  
}

.dropdown-content option:hover {
    background-color: #f1f1f1;
    
}
