

/* fonte*/
h2 {
    font-family: 'Bebas Neue', sans-serif;
}


body {
    font-family: 'Inter', sans-serif;
    
}

.cabecalho, .cabecalho nav, .cabecalho nav a {
    font-family: 'Inter', sans-serif; 
    color:#FFF
}

/* cabeçalho*/



.cabecalho img{
    display: flex;
    justify-content: left;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: normal;
    font-family: 'Inter', sans-serif; 
}
.cabecalho nav {
    flex-grow: 1;
    text-align: center; 
    font-family: 'Inter', sans-serif; 
}

.cabecalho nav a {
    margin: 0 15px;
    text-decoration: none; 
    font-family: 'Inter', sans-serif; 
}

/* Agendamento CSS*/
.container {
    margin-top: 100px; 
    display: flex;
    justify-content: space-between;
}

.form-container{
    width: 50%; 
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #051B30;
    text-align: auto;
    margin-bottom: 5%;
    
}

.historico-container{
    width: 50%; 
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #051B30;
    text-align: auto;
    margin-bottom: 5%;
    margin-right: 0%;
}

.form-group {
    margin-bottom: 20px; 
}

label {
    display: block; 
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 10px; 
    padding: 10px; 
}

input[type="text"] {
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 5px; 
    font-size: 16px;
    width: 200px;
}

body {
    background-image: url('Imagens/Img/BackGround.jpg');
    background-size: cover; 
    background-position: center;
    min-height: 100vh;
    
}

input[type="tel"] {
    border: 1px solid #ccc; 
    border-radius: 5px;
    padding: 5px; 
    font-size: 16px; 
    width: 200px; 
}

button[type="submit"]{
    background-color: #E3402A;
    color: white; 
    padding: 10px 20px; 
    font-size: 16px; 
    border: none; 
    cursor: pointer; 
    border-radius: 5px;
}

button[type="submit"]:hover {
    background-color: #e46600; 
}

button:active {
    background-color: #911d0d; 
}

.form-container h2{
    color: white;
}

.historico-container h2{
    color: white ;
}
.quadrado-branco {
    background-color: white;
    padding: 20px;
    max-width: 95%; 
    margin: 0 auto; 
    height: 80%;
    font-family: 'Courier New', Courier, monospace;

}


.rodape {
    background-color: #051B30;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: auto; /* Alinha o rodapé ao final da página */
    
}
    


.rodape-background{
    align-items: center;
    display: flex;
    width: fit-content;
    align-content: center;
    margin-left: 6rem;
    margin: auto;
    
    
}
.texto-footer{
    font-family: "Inter", sans-serif;
    align-content: center;
    font-weight: 300;
    font-size: 1.2rem;
    color: #FFF;
}

.icone{
    height: 2rem;
    width: fit-content;
    margin-bottom: 1rem;
}

.div-imagem{
    background-color: #051B30;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: center;
    justify-content: center;
    margin-top: 1rem;
}

.div-email{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: center;
    justify-content: center;
    margin-top: 1rem;
    padding: 12.5rem;
    
}

.div-email img{
    padding-right: 1rem;
}

.div-imagem img{
    padding-right: 1rem;
}

.div-imagem a{
    text-decoration: none-;
    padding-bottom: 0.9rem;
}


/* Eo Verde :D?*/
