body{
    margin: 0;
    padding: 0;
    background-color: rgb(5, 27, 48);
 
}
/*Cabecalho*/
.cabecalho{
    display: flex;
    letter-spacing: normal;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.cabecalho nav{
    display: flex;
    letter-spacing: normal;
    justify-content: center;
}

.flex1{
    flex:1;
}


.flex3{
    flex: 3;
}

.nav-item{
    font-size: 25px;
    padding-right: 1.25rem;
    color: #FFF;
    text-decoration: none;
    font-weight: 300;
    

}
.cabecalho-div img{
    height: 27px;
    display: flexbox;
    align-items: center;
}
.cabecalho-div a {
    font-size: 25px;
    padding-right: 1.25rem;
    color: #FFF;
    text-decoration: none;
    font-weight: 300;
}
.imagens {
    display: flex;
    justify-content: end;
    margin-right: 6.7%;
    
}
.imagens img{
    height: 27px;
    margin-right: 0.5%;
    margin-top: -1%;   
}

/*Portifolio*/
.portifolio {
    display: grid;
    grid-template-columns: 25rem 25rem 25rem;
    gap: 30px 20px;
    padding: 30px;
    justify-content: center;
    text-align: center;
    margin-bottom: 70px;
}
.div-portifolio img{
    width: 350px;
    height: 300px;
}
.portifolio-title{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
    color: #fff;
}
.portifolio-title h1{
    font-size: 2rem;
    font-weight: 300;
}

/*Rodapé Apenas abaixo*/

.rodape{
    height: 222px;
    background-color: #051B30;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;
}

.rodape-background{
    align-items: center;
    gap: 200px;
    display: flex;    
}

.texto-footer{
    font-family: "Inter", sans-serif;
    align-content: center;
    font-weight: 300;
    font-size: 19px;
    color: #FFF;
}

.icone{
    height: 32px;
}

.div-imagem-email{
    background-color: #051B30;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    position: absolute;
    margin-top: 86px;
    margin-left: 50rem;
}

.div-imagem-mapa{
    background-color: #051B30;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    position: absolute;
    margin-top: 5.5rem;
    margin-left: 22rem;
}

.div-imagem-celular{
    background-color: #051B30;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    position: absolute;
    margin-top: 86px;
    margin-left: 74.5rem;
}
@media screen and (max-width:450px) {
    .portifolio {
        display: grid;
        grid-template-columns: 20rem 20rem;
        margin-left: 20rem;
        gap: 3rem 8rem;
        padding: 30px;
        justify-content: center;
        text-align: center;
    }
    .div-portifolio img{
        height: 30px;
    }
    .portifolio-title{
        text-align: center;
        margin-left: 18.5rem;
        margin-bottom: 5rem;
        margin-top: 3rem;
        color: #fff;
    }
}