body{
    margin: 0;
    padding: 0;
    background-color: rgb(5, 27, 48);
    text-align: center;
    margin: auto;
    margin-bottom: 0;
}
.portifolio {
    display: grid;
    justify-content: center;
    align-items: center;
}
.portifolio-title h1{
    font-weight: 300;
    color: #fff;
}
.div-portifolio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.imagensPortifolio{
    display: flex;
    padding: 2rem;
    width: 25rem;
    transition: 0.5s
}
.imagensPortifolio:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

@media screen and (max-width:768px) {
    
}