body{
    margin: 0;
    padding: 0;
    background-color: rgb(5, 27, 48);
    text-align: center;
    margin: auto;
    margin-bottom: 0;
}
/*Cabecalho*/
header{
    display: flexbox;
    justify-content: space-between;
    align-items: center;

}
.cabecalho{
    display: flex;
    letter-spacing: normal;
    justify-content:space-between;
    align-items: center;
    margin-top: 20px;
    padding: 1rem 1rem;
}
.cabecalho nav{
    display: flex;
    letter-spacing: normal;
    justify-content: center;
    align-items: center;
    margin-left: 4rem;
}

.flex1{
    flex:1;
}


.flex3{
    flex: 3;
}

.nav-item{
    font-size: 25px;
    padding-right: 4rem;
    color: #FFF;
    text-decoration: none;
    font-weight: 300;
    

}
.cabecalho-div img{
    height: 27px;
    display: flexbox;
    align-items: center;
}
.cabecalho-div a {
    font-size: 1.5rem;
    padding-right: 0.3rem;
    color: #FFF;
    text-decoration: none;
    font-weight: 300;
}
.imagens {
    display: flex;
    justify-content: end;
    margin-right: 6.7%;
    
}
.imagens img{
    align-items: center;
    height: 27px;
    margin-right: 0.5%;
    margin-top: -2rem;   
}

/*Portifolio*/
.portifolio {
    display: grid;
    grid-template-columns: 25rem 25rem 25rem;
    gap: 30px 20px;
    padding: 30px;
    justify-content: center;
    text-align: center;
    margin-bottom: 70px;
}
.div-portifolio img{
    width: 350px;
    height: 300px;
}
.portifolio-title{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
    color: #fff;
}
.portifolio-title h1{
    font-size: 2rem;
    font-weight: 300;
}

/*Rodapé Apenas abaixo*/

.rodape{
    height: 13.9rem;
    background-color: #051B30;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
}

.rodape-background{
    align-items: center;
    display: flex;
    width: fit-content;
    align-content: center;
    margin-left: 6rem;
    margin: auto;   
}
.texto-footer{
    font-family: "Inter", sans-serif;
    align-content: center;
    font-weight: 300;
    font-size: 1.2rem;
    color: #FFF;
}

.icone{
    height: 2rem;
    width: fit-content;
    margin-bottom: 1rem;
}

.div-imagem{
    background-color: #051B30;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: center;
    justify-content: center;
    margin-top: 1rem;
}

.div-email{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: center;
    justify-content: center;
    margin-top: 1rem;
    padding: 12.5rem;
}

.div-email img{
    padding-right: 1rem;
}

.div-imagem img{
    padding-right: 1rem;
}

.div-imagem a{
    text-decoration: none-;
    padding-bottom: 0.9rem;
}

/*Rodape*/

.rodape{
    height: 13.9rem;
    background-color: #051B30;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
}

.rodape-background{
    align-items: center;
    display: flex;
    width: fit-content;
    align-content: center;
    margin-left: 6rem;
    margin: auto;   
}
.texto-footer{
    font-family: "Inter", sans-serif;
    align-content: center;
    font-weight: 300;
    font-size: 1.2rem;
    color: #FFF;
}

.div-imagem-mapa{
    background-color: #051B30;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: center;
    justify-content: center;
    margin-top: 1rem;
}

.div-imagem{
    background-color: #051B30;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: center;
    justify-content: center;
    margin-top: 1rem;
}

.div-email{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: center;
    justify-content: center;
    margin-top: 1rem;
    padding: 4rem;
}

.div-email img{
    padding-right: 1rem;
}

.div-imagem img{
    padding-right: 1rem;
}

.div-imagem a{
    text-decoration: none-;
    padding-bottom: 0.9rem;
}

.div-imagem-icones{
    background-color: #051B30;
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
    align-items: center;
    position: center;
    justify-content: center;
    margin-top: 1rem;
}

.div-imagem-icones img{
    padding-right: 1rem;
}

.div-imagem-icones a{
    text-decoration: none-;
    padding-bottom: 0.9rem;
}

.icone-chat{
    height: 2rem;
    width: fit-content;
    margin-bottom: 1.3rem;
    margin-left: 4rem;    
}

.icone-insta{
    height: 2rem;
    width: fit-content;
    margin-bottom: 1.3rem;
    gap: 0.1rem;
}

.icone{
    height: 2rem;
    width: fit-content;
    margin-bottom: 1.3rem;
}

.rodape-copyright{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}